.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    /*color: white;*/
    color:khaki;
}
body{
    margin: 0px;
    background-color:rgb(145, 5, 133);
    
}
a{
    text-decoration :none
}
a:link{
    color:#ffffff;
}

/*a:old*/
/*a:clicked*/
/*a:seen{*/
a:visited{
    color: #2200ff;
}

a:link{
    color: red;
}

a:hover{
    color: purple;
}

.bodyimg{
    margin-left: 0%;
    position: absolute;
}
.bodyimg p{
    /*color:#f7f2f2;*/
    color:rgb(248, 123, 165);
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    /*color:#f7f2f2;*/
    color:rgb(138, 210, 235);
    font-family: cursive;
    font-size: 30px;
    width: 1100px;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-40%, -40%);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    color: orange;
    background-color: green;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}

/* .origami:hover{ */
/*.origami : mouseover{*/
/*.origami:link{*/
.origami:hover{

    transform: scale(1.2);
}
